@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #e8e4e3;
    display: block;
    font-family: 'Anton', sans-serif;
  }

  #zoo .top {
    background: url(image/zoo.jpg) center no-repeat;
    background-size: cover;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #zoo .top h1 {
    color: #fff;
    z-index: 10;
    font-family: 'Anton', sans-serif;
    font-size: 48px;
  }

  #zoo .top::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(56, 43, 35, 0.678);
  }

  .container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px 15px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  .animal-list > li {
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    padding: 20px 15px;
  }

  .animal-list > li h2 {
    width: 100%;
  }

  .familia-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .familia-list img {
    display: block;
    width: 100%;
  }

  .familia-list li {
    width: 48%;
    list-style: none;
  }

  div {
    display: block;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .source {
    background: #c74444;
    display: flex;
    padding: 15px 0;
    justify-content: center;
  }

  .source ol li {
    margin-right: 40px;
    color: #fff;
  }

  .source ol li a {
    color: #fff;
    text-decoration: none;
  }