* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {

  color: black;
}



.container {
  width: 100%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.flowertop {
  position: absolute;
  z-index: 100;
}

.sakuratop {
  width: 100%;
  position: absolute;
  z-index: 100;
  padding-top: 57.5%;
}

.container2 {
  margin-top: -15%;
  position: relative;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 20s infinite;
}
.container3 {
  margin-top: 10%;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.wrapper1 {
  width: 100%;
  display: flex;
  animation: slide 20s infinite;
}


@keyframes slide {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-300%);
  }
}

.top h1 img {
  max-width: 990px;
  width: 50%;
  position: relative;
  margin: auto;
  display: block;
  padding-top: 12%;
}

.top h2 img {
  max-width: 990px;
  width: 40%;
  position: relative;
  margin: auto;
  display: block;
  padding-top: 17%;
}

.text {
  animation: fadein ease 5s;
}
@keyframes fadein {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.navigation {
 position: absolute;
 z-index: 100;
 border-style: solid;
 border-width: 10px;
 border-color: rgb(183, 220, 183);
 background-color: rgb(154, 224, 188);
 position: relative;
 width: 100%;
 height: 68px;
 margin: auto;
 margin-top: 4.7%;
 border: 5px solid rgb(154, 224, 188);
}
.navigation ul {
  display: block;
  list-style: none;
  justify-content: center;
  position: sticky;
  background-color: #BBDEBB;
  margin: auto;
}
.navigation li {
  display: inline-block;
  font-size: 15px;
  font-family: "小塚ゴシック Pr6N";
  text-align: center;
  padding: 0;
}
.navigation li a{
  text-decoration: none;
  background-color: #BBDEBB;
  display: inline-block;
}
.navigation ul li p{
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
  margin-left: 1.0em;
}

.family {
  width: 100%;
  position: absolute;
}

.rambat img {
  width: 100%;
  max-width: 40px;
  display: flex;
  position: absolute;
  z-index: 100;
  display: inline-block;
}
.rambat1 img {
  width: 100%;
  max-width: 40px;
  display: flex;
  position: absolute;
  z-index: 100;
}
.rambat2 img {
  width: 100%;
  max-width: 40px;
  display: flex;
  position: absolute;
  z-index: 100;
  display: inline-block;
}
.rambat3 img {
  width: 100%;
  max-width: 40px;
  display: flex;
  position: absolute;
  z-index: 100;
}