* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
.img-responsive{
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  width: 100%;
  color: black;
}



.container {
  z-index: 100;
  width: 100%;
  position: absolute;
  transform: translateX(-100%);
  left: 100%;
}

.flowertop {
  position: absolute;
  z-index: 100;
}

.sakuratop {
  width: 100%;
  position: absolute;
  z-index: 100;
  padding-top: 57.5%;
}

.container2 {
  margin-top: -15%;
  position: relative;
  overflow: hidden;
}
.topwrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  animation: topslide 15s infinite;
}


@keyframes topslide {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-300%);
  }
}

.top h1 img {
  z-index: 100;
  max-width: 990px;
  width: 50%;
  position: relative;
  margin: auto;
  display: block;
  padding-top: 12%;
}

.top h2 img {
  z-index: 100;
  max-width: 990px;
  width: 40%;
  position: relative;
  margin: auto;
  display: block;
  padding-top: 17%;
}


@keyframes fadein {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.navigation {
 position: absolute;
 border-style: solid;
 border-color: rgb(183, 220, 183);
 background-color: rgb(154, 224, 188);
 position: relative;
 width: 100%;
 height: 68px;
 margin: auto;
 margin-top: 4.7%;
 border: 5px solid rgb(154, 224, 188);
}
.navigation ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  position: sticky;
  background-color: #BBDEBB;
  margin-left: 2px;
  margin-right: 2px;
}
.navigation li {
  display: flex;
  font-size: 15px;
  font-family: "小塚ゴシック Pr6N";
  text-align: center;
  padding: 3px;
  padding-right: 9%;
  padding-top: 5px;
  padding-bottom: 32px;
}
.navigation li a{
  text-decoration: none;
  background-color: #BBDEBB;
  display: inline-block;
}
.navigation li a:hover{
  color: white;
}
.navigation ul li p{
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: rotate(135deg);
  margin-left: 1.0em;
}

#family {
  background-color: #BBDEBB;
  max-width: fit-content;
  width: 100%;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 2.5%;
}

.fmslider-container {
  display: flex;
  justify-content: center;
}
.fmslider {
  width: 100%;
  height: 1600px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.fmslides {
  display: flex;
  overflow: auto;
  position: relative;
}
.fmslide {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
}
.fmbutton {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fmslide img {
  max-width: auto;
}
.fmslide a {
  background: none;
  border: 0;

}

a.slide_prev,
.fmslider::before {
  left: 5%;
}
a.slide_next,
.fmslider::after {
  right: 5%;
}

.fmslider::before,
.fmslider::after,
.slide_prev,
.slide_next {
  position: absolute;
  margin-top: 450px;
  box-sizing: border-box;
}
.fmslider::before,
.fmslider::after {
  z-index: 1;
  pointer-events: none;
}

.slider_nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
.slider_navlink {
  display: inline-block;

}

#child {
  background-color: #BBDEBB;
  max-width: fit-content;
  width: 100%;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 2.5%;
  
}
.childbutton {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#camping {
  background-color: #BBDEBB;
  
  width: 100%;
  max-width: fit-content;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: -50px;
}
.campslider-container {
  display: flex;
  justify-content: center;
}

