
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    box-sizing: border-box;
    background-color: #f9f2d3;
}

.top {
    height: 3000px;
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    background-image: url(/img/d3/background.png);
}
.omochi1 {
    position: relative;
    top: -125px;
    left: 240px;   
}
.omochi2 {
    position: relative;
    top: -110px;
    left: 600px;
}
.daunkiriatas {
    position: relative;
    top: -312px;
    left: -104px;
}
.daunkiribawah {
    position: relative;
    top: -109px;
    left: -284px;
}
.daunkananatas {
    position: relative;
    top: -298px;
    left: 335px;
}
.daunkananbawas {
    position: relative;
    top: -90px;
    left: 146px;
}
.kadomatsu1 {
    position: relative;
    top: -180px;
    right: -20px;
}
.kadomatsu2 {
    position: relative;
    top: -395px;
    right: -10px;
}
.fotohitsumabushijudul{
    position: relative;
    top: -90px;
    right: 10px;
}
.fotokarejudul {
    position: relative;
    top: -90px;
    left: 50px;
}
.fotoramenjudul {
    position: relative;
    top: -90px;
    left: 100px;
}


.mizuhiki {
    position: relative;
    bottom: 50px;
}
.tigamenujudul {
    position: relative;
    left: 60px;
}

.buttonhitsumabushi {
    position: relative;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
}
.buttonhitsumabushi:hover {background-color: #fff;}
.buttonhitsumabushi:active {
    background-color: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonkare {
    position: relative;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
}
.buttonkare:hover {background-color: #fff;}
.buttonkare:active {
    background-color: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonramen {
    position: relative;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
}
.buttonramen:hover {background-color: #fff;}
.buttonramen:active {
    background-color: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.tambang1 {
    position: relative;
    bottom: 1280px;
}
.backgroundmise {
    position: relative;
    top: 40px;
}
.tambang2 {
    position: relative;
    top: 20px;
}
