* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f9f2d3;
}

#outline {
    background-image: url(/img/d3/backgroundsemua.png);
    max-height: 3000px;
    max-width: 990px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 0px 30px 30px rgba(250, 212, 87, 0.582);
}


.fotohitsumabushijudul {
    position: absolute;
    left: 120px;
}
.fotokarejudul {
    position: absolute;
    left: 394px;
}
.fotoramenjudul {
    position: absolute;
    left: 660px;
}

.mizuhiki {
    position: relative;
    margin-top: 230px;
}
.tigamenujudul {
    position: absolute;
    left: 80px;
}

.tombolsatu {
    position: absolute;
    top: 750px;
    left: 40px;
}
.tomboldua {
    position: absolute;
    top: 750px;
    left: 350px;
}
.tomboltiga {
    position: absolute;
    top: 750px;
    left: 670px;
}

.textmenu1 {
    position: relative;
    top: 540px;
    left: 365px;
}
.ketmenu1 {
    position: absolute;
    top: 1170px;
    right: 85px;
    font-size: 18px;
    display: block;
}
.hitsumabushi1 {
    position: relative;
    top: 180px;
}

.textmenu2 {
    position: relative;
    top: 220px;
    right: -25px;
}
.ketmenu2 {
    position: absolute;
    top: 1600px;
    left: 80px;
    font-size: 18px;
    display: block;
}
.kare1 {
    position: relative;
    bottom: 140px;
    left:  569px;
}
.textmenu3 {
    position: relative;
    bottom: 110px;
    left: 365px;
}
.ketmenu3 {
    position: absolute;
    top: 2014px;
    left: 417px;
    font-size: 18px;
    display: block;
}
.ramen1 {
    position: relative;
    bottom: 480px;
}

.kuponkaget {
    position: absolute;
    bottom: 300px;
    left: 85px;
}

#footer {
    position: relative;
    bottom: 30px;
    left: 40px;
}
#menu {
    display: block;
}